@using MeditationVeranstaltungApp.Data
@{
    ViewData["Title"] = "Gast Info";
}

<div class="text-center">
    <div class="d-flex justify-content-between">
        <h3>Meine Buchungen</h3>
        <form asp-action="CreateEditGastInfo">
            <button type="submit" class="btn btn-primary">Neue Buchung</button>
        </form>
        
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Anzahl</th>
          <th>Ankunft Info</th>
          <th>Abfahrt Info</th>
          <th>Kontakt</th>
          <th>Fahrer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

            @{
                foreach(GastInfo gast in ViewBag.GastInfos)
                {
                    var anzahl = gast.AnzahlMaenner + gast.AnzahlWeiblich;
                    <tr>
                        <td>@anzahl </td>
                        <td>@gast.AnkunftAm (@gast.AnkunftOrt)</td>
                        <td>@gast.AbfahrtAm (@gast.AbfahrtOrt)</td>
                        <td>@gast.Kontakt.Vorname @gast.Kontakt.Nachname (@gast.Kontakt.Stadt-@gast.Kontakt.Land)</td>
                        @if(gast.FahrerKontakt != null)
                        {
                            <td>@gast.FahrerKontakt.Vorname @gast.FahrerKontakt?.Nachname (@gast.FahrerKontakt?.Stadt-@gast.FahrerKontakt?.Land)</td>

                        }
                        else
                        {
                            <td></td>
                        }

                        <td>
                            <div class="d-flex" style="gap: 4px;">
                                <a href="booking-detail.html"><button type="button" class="btn btn-info">View</button></a>
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger">Absagen</button>
                            </div>
                        </td>
                    </tr>
                }
            }

      </tbody>
    </table>
</div>
