@using MeditationVeranstaltungApp.Data
@{
    ViewData["Title"] = "Gast Info";
}

<div class="text-center">
    <div class="d-flex justify-content-between">
        <h3>Meine Buchungen</h3>
        <form asp-action="CreateEditGastInfo">
            <button type="submit" class="btn btn-primary">Neue Buchung</button>
        </form>

    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Anzahl</th>
                <th>Ankunft Info</th>
                <th>Abfahrt Info</th>
                <th>Kontakt</th>
                <th>Fahrer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (GastInfo gast in ViewBag.GastInfos)
                {
                    var anzahl = gast.AnzahlMaenner + gast.AnzahlWeiblich;
                    <tr>
                        <td>@anzahl </td>
                        <td>@gast.AnkunftAm (@gast.AnkunftOrt)</td>
                        <td>@gast.AbfahrtAm (@gast.AbfahrtOrt)</td>
                        <td>@gast.Kontakt.Vorname @gast.Kontakt.Nachname (@gast.Kontakt.Stadt-@gast.Kontakt.Land)</td>
                        @if (gast.FahrerKontakt != null)
                        {
                            <td>@gast.FahrerKontakt.Vorname @gast.FahrerKontakt?.Nachname (@gast.FahrerKontakt?.Stadt-@gast.FahrerKontakt?.Land)</td>

                        }
                        else
                        {
                            <td></td>
                        }

                        <td>
                            <div class="d-flex" style="gap: 4px;">
                                <button type="button" class="btn btn-info">Anzeigen @User.IsInRole("User")</button>

                                @{
                                    User.IsInRole("User");
                                    if (User.IsInRole("User"))
                                    {
                                        <form asp-action="CreateEditGastInfo" asp-route-id="@gast.Id">
                                            <button type="submit" class="btn btn-info">Bearbeiten</button>
                                        </form>
                                        <form asp-action="CreateEditGastInfo" asp-route-id="@gast.Id">
                                            <button type="button" class="btn btn-primary">Absagen</button>
                                        </form>
                                    }
                                }

                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        <form asp-action="CreateEditGastInfo" asp-route-id="@gast.Id">
                                            <button type="button" class="btn btn-primary">Fahrer Zuweisen</button>
                                        </form>
                                    }
                                }

                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
